[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
ansible-core = "==2.20.3"
ansible-lint = "==26.2.0"
yamllint = "==1.38.0"
j2lint = "==1.2.0"
pylint = {extras = ["spelling"], version = "==4.0.5"}
mypy = "==1.19.1"
types-PyYAML = "==6.0.12.20250915"

[scripts]
lint = "ansible-lint"
lint-plugins = "bash -c 'PYTHONPATH=../../.. pylint plugins && mypy plugins'"
sanity = "bash -c 'ansible-test sanity --python-interpreter $(which python)'"
lint-templates = "find . -name 'templates' -type d -exec j2lint {} +"
build-for-galaxy = "ansible-galaxy collection build"
publish-to-galaxy = "ansible-galaxy collection publish"

[requires]
python_version = "3.14"
