[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
ansible-core = "==2.20.3"
ansible-lint = "==26.3.0"
yamllint = "==1.38.0"
j2lint = "==1.2.0"
pylint = {extras = ["spelling"], version = "==4.0.5"}
pylint-pytest = "==1.1.8"
mypy = "==1.19.1"
pytest = "==8.2.0"
pytest-xdist = "==3.8.0"
types-PyYAML = "==6.0.12.20250915"
antsibull-docs = "==2.24.0"
Sphinx = "==9.1.0"
sphinx-ansible-theme = "==0.10.4"
ansible-pygments = "==0.1.2"

[scripts]
lint = "ansible-lint"
lint-plugins = "bash -c 'PYTHONPATH=../../.. pylint plugins tests && cd ../../.. && mypy --config-file ansible_collections/damex/incus/pyproject.toml ansible_collections/damex/incus/plugins ansible_collections/damex/incus/tests'"
test = "bash -c 'ansible-test units --python-interpreter $(which python)'"
sanity = "bash -c 'ansible-test sanity --python-interpreter $(which python)'"
build-integration-debian = "podman build -t ansible-test-debian-bookworm -f tests/integration/containers/debian/bookworm/Containerfile"
build-integration-fedora = "podman build -t ansible-test-fedora-43 -f tests/integration/containers/fedora/43/Containerfile"
integration-debian = "bash -c 'ANSIBLE_TEST_PREFER_PODMAN=1 ansible-test integration --docker ansible-test-debian-bookworm --python 3.11 -v \"$@\"' --"
integration-fedora = "bash -c 'ANSIBLE_TEST_PREFER_PODMAN=1 ansible-test integration --docker ansible-test-fedora-43 --python 3.14 -v \"$@\"' --"
lint-templates = "find . -name 'templates' -type d -exec j2lint {} +"
documentation = "bash -c 'mkdir -p documentation/rst && ANSIBLE_COLLECTIONS_PATHS=../../.. antsibull-docs --config-file antsibull-docs.cfg collection --squash-hierarchy --cleanup similar-files --use-current --dest-dir documentation/rst damex.incus && sphinx-build -M html documentation/rst documentation/build -c . -W --keep-going'"
build-for-galaxy = "ansible-galaxy collection build"
publish-to-galaxy = "ansible-galaxy collection publish"

[requires]
python_version = "3.14"
