---
- name: Ensure incus profiles
  ansible.builtin.include_tasks: profile.yml
  vars:
    incus_profiles_profile_name: "{{ incus_profiles_profile.name }}"
    incus_profiles_profile_project: "{{ incus_profiles_profile.project | default(incus_profiles_project) }}"
    incus_profiles_profile_state: "{{ incus_profiles_profile.state | default(incus_profiles_state) }}"
  loop: "{{ incus_profiles }}"
  loop_control:
    label: "{{ incus_profiles_profile_name }}"
    loop_var: incus_profiles_profile
