---
- name: Ensure incus profile info {{ incus_profiles_profile_name }}
  ansible.builtin.command:
    cmd: incus --project {{ incus_profiles_profile_project }} profile show {{ incus_profiles_profile_name }}
  register: incus_profiles_profile_info_state
  failed_when: false
  changed_when: false
  become: true

- name: Ensure incus profile is created {{ incus_profiles_profile_name }}
  ansible.builtin.command:
    cmd: incus --project {{ incus_profiles_profile_project }} profile create {{ incus_profiles_profile_name }}
  become: true
  changed_when: true
  when:
    - incus_profiles_profile_info_state.rc != 0
    - incus_profiles_profile_state != "absent"

- name: Ensure incus profile configuration {{ incus_profiles_profile_name }}
  ansible.builtin.command:
    cmd: incus --project {{ incus_profiles_profile_project }} profile edit {{ incus_profiles_profile_name }}
    stdin: "config: {{ incus_profiles_profile_config | to_yaml }}"
  become: true
  changed_when: true
  when:
    # workaround for omit
    - incus_profiles_profile_config is iterable
    - incus_profiles_profile_state != "absent"

- name: Ensure incus profile devices configuration {{ incus_profiles_profile_name }}
  ansible.builtin.command:
    cmd: incus --project {{ incus_profiles_profile_project }} profile edit {{ incus_profiles_profile_name }}
    stdin: "{{ lookup('ansible.builtin.template', role_path | dirname | dirname + '/templates/devices_configuration.j2') }}"
  vars:
    incus_template_devices: "{{ incus_profiles_profile_devices }}"
  become: true
  changed_when: true
  when:
    - incus_profiles_profile_state != "absent"

- name: Ensure incus profile is absent {{ incus_profiles_profile_name }}
  ansible.builtin.command:
    cmd: incus --project {{ incus_profiles_profile_project }} profile delete {{ incus_profiles_profile_name }}
  become: true
  changed_when: true
  when:
    - incus_profiles_profile_state == "absent"
    - incus_profiles_profile_info_state.rc == 0
