---
argument_specs:
  main:
    options:
      incus_instances:
        type: list
        elements: dict
        options:
          name:
            required: true
            type: str
          type:
            type: str
            choices:
              - container
              - virtual-machine
          source:
            required: true
            type: str
          config:
            type: dict
            options:
              limits.cpu:
                type: str
              limits.memory:
                type: str
              limits.processes:
                type: int
              limits.cpu.priority:
                type: int
              limits.cpu.allowance:
                type: str
              limits.disk.priority:
                type: int
              limits.network.priority:
                type: int
              raw.qemu:
                type: str
              boot.autostart:
                type: bool
              boot.autostart.delay:
                type: int
              boot.autostart.priority:
                type: int
              security.privileged:
                type: bool
              security.nesting:
                type: bool
              cloud-init.network-config:
                type: dict
                options:
                  version:
                    type: int
                  renderer:
                    type: str
                  ethernets:
                    type: list
                    elements: dict
                    options:
                      name:
                        required: true
                        type: str
                      dhcp4:
                        type: bool
                      addresses:
                        type: list
                        elements: str
                      routes:
                        type: list
                        elements: dict
                        options:
                          to:
                            type: str
                          via:
                            type: str
                      match:
                        type: dict
                        options:
                          driver:
                            type: str
                      nameservers:
                        type: dict
                        options:
                          addresses:
                            type: list
                            elements: str
                  bonds:
                    type: list
                    elements: dict
                    options:
                      name:
                        required: true
                        type: str
                      dhcp4:
                        type: bool
                      addresses:
                        type: list
                        elements: str
                      interfaces:
                        type: list
                        elements: str
                      parameters:
                        type: dict
                        options:
                          mode:
                            type: str
                          mii-monitor-interval:
                            type: int
                      routes:
                        type: list
                        elements: dict
                        options:
                          to:
                            type: str
                          via:
                            type: str
                      nameservers:
                        type: dict
                        options:
                          addresses:
                            type: list
                            elements: str
                  bridges:
                    type: list
                    elements: dict
                    options:
                      name:
                        required: true
                        type: str
                      dhcp4:
                        type: bool
                      addresses:
                        type: list
                        elements: str
                      interfaces:
                        type: list
                        elements: str
                      parameters:
                        type: dict
                        options:
                          stp:
                            type: bool
                          forward-delay:
                            type: int
                      routes:
                        type: list
                        elements: dict
                        options:
                          to:
                            type: str
                          via:
                            type: str
                      nameservers:
                        type: dict
                        options:
                          addresses:
                            type: list
                            elements: str
                  vlans:
                    type: list
                    elements: dict
                    options:
                      name:
                        required: true
                        type: str
                      id:
                        required: true
                        type: int
                      link:
                        required: true
                        type: str
                      dhcp4:
                        type: bool
                      addresses:
                        type: list
                        elements: str
                      routes:
                        type: list
                        elements: dict
                        options:
                          to:
                            type: str
                          via:
                            type: str
                      nameservers:
                        type: dict
                        options:
                          addresses:
                            type: list
                            elements: str
              cloud-init.user-data:
                type: dict
                options:
                  bootcmd:
                    type: list
                    elements: raw
                  user:
                    type: str
                  password:
                    type: str
                    no_log: true
                  ssh_pwauth:
                    type: bool
                  chpasswd:
                    type: dict
                    options:
                      expire:
                        type: bool
                  package_upgrade:
                    type: bool
                  packages:
                    type: list
                    elements: str
                  power_state:
                    type: dict
                    options:
                      mode:
                        type: str
                        choices:
                          - reboot
                          - poweroff
                          - halt
                  write_files:
                    type: list
                    elements: dict
                    options:
                      path:
                        required: true
                        type: str
                      content:
                        type: str
                      owner:
                        type: str
                      permissions:
                        type: str
                  runcmd:
                    type: list
                    elements: raw
              cloud-init.vendor-data:
                type: dict
                options:
                  bootcmd:
                    type: list
                    elements: raw
                  user:
                    type: str
                  password:
                    type: str
                    no_log: true
                  ssh_pwauth:
                    type: bool
                  chpasswd:
                    type: dict
                    options:
                      expire:
                        type: bool
                  package_upgrade:
                    type: bool
                  packages:
                    type: list
                    elements: str
                  power_state:
                    type: dict
                    options:
                      mode:
                        type: str
                        choices:
                          - reboot
                          - poweroff
                          - halt
                  write_files:
                    type: list
                    elements: dict
                    options:
                      path:
                        required: true
                        type: str
                      content:
                        type: str
                      owner:
                        type: str
                      permissions:
                        type: str
                  runcmd:
                    type: list
                    elements: raw
          devices:
            type: list
            elements: dict
            options:
              name:
                required: true
                type: str
              type:
                required: true
                type: str
                choices:
                  - disk
                  - nic
              # disk
              path:
                type: str
              pool:
                type: str
              source:
                type: str
              size:
                type: str
              readonly:
                type: bool
              # nic
              network:
                type: str
              nictype:
                type: str
              parent:
                type: str
              hwaddr:
                type: str
              mtu:
                type: str
              ipv4.address:
                type: str
              ipv4.routes:
                type: str
              ipv6.address:
                type: str
              ipv6.routes:
                type: str
          ephemeral:
            type: bool
          project:
            type: str
          profiles:
            type: list
            elements: str
          state:
            type: str
            choices:
              - started
              - stopped
              - restarted
              - absent
      incus_instances_type:
        type: str
        choices:
          - container
          - virtual-machine
      incus_instances_project:
        type: str
      incus_instances_profiles:
        type: list
        elements: str
      incus_instances_ephemeral:
        type: bool
      incus_instances_state:
        type: str
        choices:
          - started
          - stopped
          - restarted
          - absent
