{# cloud-init network type macro #}
{% macro incus_cloud_init_network_type(incus_cloud_init_network_type_name, incus_cloud_init_network_type_devices) %}
    {{ incus_cloud_init_network_type_name }}:
{%     for incus_cloud_init_network_type_device in incus_cloud_init_network_type_devices %}
      {{ incus_cloud_init_network_type_device.name }}:
{%         for incus_cloud_init_network_type_key, incus_cloud_init_network_type_value in incus_cloud_init_network_type_device.items() %}
{%             if incus_cloud_init_network_type_key != 'name' %}
{%                 if incus_cloud_init_network_type_value is mapping or (incus_cloud_init_network_type_value is iterable and incus_cloud_init_network_type_value is not string) %}
        {{ incus_cloud_init_network_type_key }}:
          {{ incus_cloud_init_network_type_value | to_nice_yaml | indent(10) }}
{%                 else %}
        {{ incus_cloud_init_network_type_key }}: {{ incus_cloud_init_network_type_value | lower if incus_cloud_init_network_type_value | type_debug == 'bool' else incus_cloud_init_network_type_value }}
{%                 endif %}
{%             endif %}
{%         endfor %}
{%     endfor %}
{% endmacro %}

{# cloud-init.network-config macro #}
{% macro incus_cloud_init_network_config(incus_cloud_init_network_config) %}
{%     if incus_cloud_init_network_config is defined and incus_cloud_init_network_config %}
  cloud-init.network-config: |
    version: {{ incus_cloud_init_network_config.version or 2 }}
{%         for incus_cloud_init_network_config_type, incus_cloud_init_network_config_devices in incus_cloud_init_network_config.items() %}
{%             if incus_cloud_init_network_config_devices is sequence and incus_cloud_init_network_config_devices is not string %}
{{ incus_cloud_init_network_type(incus_cloud_init_network_config_type, incus_cloud_init_network_config_devices) }}
{%             endif %}
{%         endfor %}
{%     endif %}
{% endmacro %}

{# cloud-init.user-data macro #}
{% macro incus_cloud_init_user_data(incus_cloud_init_user_data) %}
{%     if incus_cloud_init_user_data is defined and incus_cloud_init_user_data %}
  cloud-init.user-data: |
    #cloud-config
    {{ incus_cloud_init_user_data | to_nice_yaml | indent(4) }}
{%     endif %}
{% endmacro %}

{# cloud-init.vendor-data macro #}
{% macro incus_cloud_init_vendor_data(incus_cloud_init_vendor_data) %}
{%     if incus_cloud_init_vendor_data is defined and incus_cloud_init_vendor_data %}
  cloud-init.vendor-data: |
    #cloud-config
    {{ incus_cloud_init_vendor_data | to_nice_yaml | indent(4) }}
{%     endif %}
{% endmacro %}
