{% from 'cloud-init.j2' import incus_cloud_init_network_config, incus_cloud_init_user_data, incus_cloud_init_vendor_data with context %}
{# config macro #}
{% macro incus_config(incus_config) %}
{%     if incus_config is defined and incus_config is iterable %}
{%         for incus_config_key, incus_config_value in incus_config.items() %}
{%             if incus_config_key == 'cloud-init.network-config' %}
{{ incus_cloud_init_network_config(incus_config_value) }}
{%             elif incus_config_key == 'cloud-init.user-data' %}
{{ incus_cloud_init_user_data(incus_config_value) }}
{%             elif incus_config_key == 'cloud-init.vendor-data' %}
{{ incus_cloud_init_vendor_data(incus_config_value) }}
{%             else %}
  {{ incus_config_key }}: {{ incus_config_value | lower if incus_config_value | type_debug == 'bool' else incus_config_value }}
{%             endif %}
{%         endfor %}
{%     endif %}
{% endmacro %}
{# config merge macro - preserves volatile/image keys from current config, applies desired config #}
{% macro incus_config_merge(incus_config_desired, incus_current_config) %}
{%     if (incus_config_desired is defined and incus_config_desired is iterable) or incus_current_config is defined %}
config:
{%         if incus_current_config is defined and incus_current_config.config is defined %}
{%             for incus_config_current_key, incus_config_current_value in incus_current_config.config.items() %}
{%                 if incus_config_current_key is match('^(volatile|image)[.]') %}
  {{ incus_config_current_key }}: {{ incus_config_current_value | lower if incus_config_current_value | type_debug == 'bool' else incus_config_current_value }}
{%                 endif %}
{%             endfor %}
{%         endif %}
{{ incus_config(incus_config_desired) }}
{%     endif %}
{% endmacro %}
