{% if incus_template_devices is defined and incus_template_devices is iterable %}
devices:
{%     for incus_template_device in incus_template_devices %}
  {{ incus_template_device.name }}:
{%         for incus_template_device_option_key, incus_template_device_option_value in incus_template_device.items() %}
{%             if incus_template_device_option_key != 'name' %}
    {{ incus_template_device_option_key }}: {{ incus_template_device_option_value }}
{%             endif %}
{%         endfor %}
{%     endfor %}
{% endif %}
