---
- name: Ensure incus apt package
  ansible.builtin.include_role:
    name: damex.apt.apt_packages
  vars:
    apt_packages: # noqa: var-naming[no-role-prefix]
      - name: "{{ incus_package_name }}"
        version: "{{ incus_package_version | default(omit) }}"
        state: "{{ incus_package_state }}"
  when: ansible_facts['pkg_mgr'] == "apt"

- name: Ensure incus yum package
  ansible.builtin.include_role:
    name: damex.yum.yum_packages
  vars:
    yum_packages: # noqa: var-naming[no-role-prefix]
      - name: "{{ incus_package_name }}"
        version: "{{ incus_package_version | default(omit) }}"
        state: "{{ incus_package_state }}"
  when: ansible_facts['pkg_mgr'] == "yum" or ansible_facts['pkg_mgr'] == "dnf"
